:root {
    // Light Mode
    --theme-light-bg: hsl(216, 100%, 99%);
    --theme-light-bg-secondary: hsl(220, 20%, 97.1%);
    --theme-light-border: hsl(222, 21.7%, 91%);
    --theme-light-tertiary: hsl(215, 8.7%, 57.1%);
    --theme-light-secondary: hsl(219, 9.8%, 46.1%);
    --theme-light-primary: hsl(217, 10.1%, 34.9%);
    --theme-light-important: hsl(216, 12.2%, 16.1%);

    // Dark Mode
    --theme-dark-bg: hsl(223, 80.6%, 6.1%);
    --theme-dark-bg-secondary: hsl(223, 41.2%, 10%);
    --theme-dark-border: hsl(223, 16.1%, 22%);
    --theme-dark-tertiary: hsl(216, 8.2%, 64.1%);
    --theme-dark-secondary: hsl(217, 9.8%, 73.9%);
    --theme-dark-primary: hsl(217, 9.8%, 83.9%);
    --theme-dark-important: hsl(240, 4%, 95.1%);

    // Blue colors
    --color-blue-50: hsl(225, 100%, 95.3%);
    --color-blue-100: hsl(224, 100%, 90.6%);
    --color-blue-200: hsl(224, 97.9%, 81%);
    --color-blue-300: hsl(224, 98.6%, 71.4%);
    --color-blue-400: hsl(224, 97.9%, 61.8%);
    --color-blue-500: hsl(224, 98.4%, 52.4%);
    --color-blue-600: hsl(224, 89.7%, 41.8%);
    --color-blue-700: hsl(224, 90%, 31.4%);
    --color-blue-800: hsl(224, 88.8%, 21%);
    --color-blue-900: hsl(224, 88.9%, 10.6%);
    --color-blue-950: hsl(223, 92.3%, 5.1%);

    // Purple colors
    --color-purple-50: hsl(257, 100%, 95.1%);
    --color-purple-100: hsl(258, 96.1%, 90%);
    --color-purple-200: hsl(258, 96.1%, 80%);
    --color-purple-300: hsl(258, 96.1%, 70%);
    --color-purple-400: hsl(258, 96.1%, 60%);
    --color-purple-500: hsl(258, 96.1%, 50%);
    --color-purple-600: hsl(258, 96.1%, 40%);
    --color-purple-700: hsl(258, 96.1%, 30%);
    --color-purple-800: hsl(258, 96.1%, 20%);
    --color-purple-900: hsl(258, 96.1%, 10%);
    --color-purple-950: hsl(259, 100%, 4.9%);

    // Orange colors
    --color-orange-50: hsl(27, 92.3%, 94.9%);
    --color-orange-100: hsl(28, 92.2%, 90%);
    --color-orange-200: hsl(28, 94.1%, 80%);
    --color-orange-300: hsl(28, 93.5%, 70%);
    --color-orange-400: hsl(28, 94.1%, 60%);
    --color-orange-500: hsl(28, 93.7%, 50%);
    --color-orange-600: hsl(28, 94.1%, 40%);
    --color-orange-700: hsl(28, 93.5%, 30%);
    --color-orange-800: hsl(28, 94.1%, 20%);
    --color-orange-900: hsl(28, 92.2%, 10%);
    --color-orange-950: hsl(28, 92.3%, 5.1%);

    // Red colors
    --color-red-50: hsl(342, 63%, 94.7%);
    --color-red-100: hsl(344, 62.3%, 89.6%);
    --color-red-200: hsl(344, 62.3%, 79.2%);
    --color-red-300: hsl(344, 63.5%, 68.8%);
    --color-red-400: hsl(344, 63.2%, 58.4%);
    --color-red-500: hsl(344, 68.2%, 48%);
    --color-red-600: hsl(344, 68.4%, 38.4%);
    --color-red-700: hsl(344, 68.7%, 28.8%);
    --color-red-800: hsl(344, 67.3%, 19.2%);
    --color-red-900: hsl(344, 67.3%, 9.6%);
    --color-red-950: hsl(346, 68%, 4.9%);

    // Gradient colors
    --color-gradient-bop: linear-gradient(to bottom right, var(--color-blue-500) 0%, var(--color-orange-500) 50%, var(--color-purple-500) 100%);
    --color-gradient-bop-light: linear-gradient(to bottom right, var(--color-blue-300) 0%, var(--color-orange-300) 50%, var(--color-purple-300) 100%);
    --color-gradient-bop-dark: linear-gradient(to bottom right, var(--color-blue-900) 0%, var(--color-orange-900) 50%, var(--color-purple-900) 100%);
}