@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&family=Poppins:wght@400;500&display=swap');

:root {
    // Font family
    --ff-title: "Montserrat Alternates", sans-serif;
    --ff-text: "Poppins", sans-serif;

    // Font size
    --fs-bigger: 3.25rem;
    --fs-h1: 2.93rem;
    --fs-h2: 2.375rem;
    --fs-h3: 1.875rem;
    --fs-h4: 1.5rem;
    --fs-primary-text: 1rem;
    --fs-secondary-text: 0.9375rem;
    --fs-tertiary-text: 0.875rem;
    --fs-tiny-text: 0.625rem;

    // Font weight
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    // Line height
    --lh-title: 150%;
    --lh-text: 160%;

    // Letter spacing
    --ls-title: 0.01em;
}

// Tipografías
.important {
    color: var(--theme-dark-important);
    font-size: var(--fs-bigger);
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
}

h1 {
    color: var(--theme-dark-important);
    font-size: var(--fs-h1);
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
}

h2 {
    color: var(--theme-dark-important);
    font-size: var(--fs-h2);
    font-family: var(--ff-title);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
}

h3 {
    color: var(--theme-dark-important);
    font-size: var(--fs-h3);
    font-family: var(--ff-title);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
}

h4 {
    color: var(--theme-dark-important);
    font-size: var(--fs-h4);
    font-family: var(--ff-title);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
}

.subtitle {
    color: var(--theme-dark-primary);
    font-size: var(--fs-h4);
    font-family: var(--ff-text);
    font-weight: var(--fw-regular);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
}

.primary-regular {
    color: var(--theme-dark-primary);
    font-size: var(--fs-primary-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-regular);
    line-height: var(--lh-text);
}

.primary-medium {
    color: var(--theme-dark-primary);
    font-size: var(--fs-primary-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-medium);
    line-height: var(--lh-text);
}

.secondary-regular {
    color: var(--theme-dark-secondary);
    font-size: var(--fs-secondary-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-regular);
    line-height: var(--lh-text);
}

.secondary-medium {
    color: var(--theme-dark-secondary);
    font-size: var(--fs-secondary-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-medium);
    line-height: var(--lh-text);
}

.tertiary-regular {
    color: var(--theme-dark-tertiary);
    font-size: var(--fs-tertiary-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-regular);
    line-height: var(--lh-text);
}

.tertiary-medium {
    color: var(--theme-dark-tertiary);
    font-size: var(--fs-tertiary-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-medium);
    line-height: var(--lh-text);
}

.tiny {
    color: var(--theme-dark-tertiary);
    font-size: var(--fs-tiny-text);
    font-family: var(--ff-text);
    font-weight: var(--fw-medium);
    line-height: var(--lh-text);
}

@media screen and (max-width:769px) {
    :root {
        // Font size Mobile
        --fs-bigger: 2.625rem;
        --fs-h1: 2.375rem;
        --fs-h2: 2rem;
        --fs-h3: 1.625rem;
        --fs-h4: 1.25rem;
    }
}