// Template maestro
%template-buttons {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    font-family: var(--ff-text);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-text);
    @extend %transition-fast;

    &:hover {
        @extend %transition-fast;
        transform: scale(1.03)
    }

    &:active {
        transform: scale(1);
    }

    .btn-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

// Template de diferentes tamaños
%template-small {
    @extend %template-buttons;
    padding: var(--spacing-2) var(--spacing-4);
    font-size: var(--fs-smaller);
}

%template-normal {
    @extend %template-buttons;
    padding: var(--spacing-3) var(--spacing-5);
    font-size: var(--fs-small);
}

// Template de diferentes variantes
%variant-normal {
    background: var(--color-blue-500);
    color: white;
}

%variant-light {
    background: var(--color-blue-900);
    color: var(--color-blue-400);
}

%variant-ghost {
    border: 2px solid var(--color-blue-400);
    color: var(--color-blue-400);
}

%variant-link {
    color: var(--color-blue-400);

    &:hover {
        transform: none;
        transition: none;
    }
}

%variant-white {
    background: white;
    color: var(--color-blue-500);
}

// Componentes //

// Botones SMALL
.btn-small-normal {
    @extend %template-small;
    @extend %variant-normal;
}

.btn-small-light {
    @extend %template-small;
    @extend %variant-light;
}

.btn-small-ghost {
    @extend %template-small;
    @extend %variant-ghost;
}

.btn-small-link {
    @extend %template-small;
    @extend %variant-link;
}

.btn-small-white {
    @extend %template-small;
    @extend %variant-white;
}

// Botones DEFAULT
.btn-normal-normal {
    @extend %template-normal;
    @extend %variant-normal;
}

.btn-normal-light {
    @extend %template-normal;
    @extend %variant-light;
}

.btn-normal-ghost {
    @extend %template-normal;
    @extend %variant-ghost;
}

.btn-normal-link {
    @extend %template-normal;
    @extend %variant-link;
}

.btn-normal-white {
    @extend %template-normal;
    @extend %variant-white;
}