// Template maestro
%template-buttons {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    font-family: var(--ff-text);
    font-weight: var(--fw-medium);
    line-height: var(--lh-text);
    border-radius: var(--spacing-1);
    @extend %transition-fast;

    &:hover {
        @extend %transition-fast;
        transform: scale(1.03)
    }

    &:active {
        transform: scale(.97);
    }

    .btn-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

// Template de diferentes tamaños
%template-secondary {
    @extend %template-buttons;
    padding: var(--spacing-2) var(--spacing-4);
    font-size: var(--fs-tertiary-text);
}

%template-primary {
    @extend %template-buttons;
    padding: var(--spacing-3) var(--spacing-5);
    font-size: var(--fs-secondary-text);
}

// Template de diferentes variantes
%variant-normal {
    background: var(--color-blue-500);
    color: white;
}

%variant-light {
    background: var(--color-blue-900);
    color: var(--color-blue-400);
}

%variant-ghost {
    border: 2px solid var(--color-blue-700);
    color: var(--color-blue-400);
}

%variant-link {
    color: var(--color-blue-400);

    &:hover {
        transform: none;
        transition: none;
    }
}

%variant-white {
    background: white;
    color: var(--color-blue-500);
}

// Componentes //

// Botones Secundarios
.btn-secondary-normal {
    @extend %template-secondary;
    @extend %variant-normal;
}

.btn-secondary-light {
    @extend %template-secondary;
    @extend %variant-light;
}

.btn-secondary-ghost {
    @extend %template-secondary;
    @extend %variant-ghost;
}

.btn-secondary-link {
    @extend %template-secondary;
    @extend %variant-link;
}

.btn-secondary-white {
    @extend %template-secondary;
    @extend %variant-white;
}

// Botones Primarios
.btn-primary-normal {
    @extend %template-primary;
    @extend %variant-normal;
}

.btn-primary-light {
    @extend %template-primary;
    @extend %variant-light;
}

.btn-primary-ghost {
    @extend %template-primary;
    @extend %variant-ghost;
}

.btn-primary-link {
    @extend %template-primary;
    @extend %variant-link;
}

.btn-primary-white {
    @extend %template-primary;
    @extend %variant-white;
}